.main {
  min-height: calc(100vh - 200px);
  padding: 32px 0 50px;
}

.layout {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 30px;
  align-items: start;
}

@media (max-width: 980px) {
  .layout {
    grid-template-columns: 1fr;
  }
}

